@CHARSET "UTF-8";

.container-300 { width:300px; margin:0 auto; }

.screen-center {
    position: absolute;

    top:50%;
    left:50%;

    transform: translate(-50%, -50%);
}

.row {
    margin: 10px 0px;
}

.w-100 {
    width:100%;
}

.login-input {
    font-size: 15px;
    padding: 0.75em;
    outline: none;
    border:1px solid #CBCACA;
    border-radius:5px;
}

.login-input:focus {
    border-color: #81D4FA;
}

.login-btn-box > button {
	border: 1px solid #CBCACA;
    font-size: 15px;
    font-weight: bold;
    padding: 0.75em;/*글자 크기의 0.75배*/
    cursor: pointer;
    border-radius: 5px;
    background-color: #81D4FA;
    color: white;
}

.login-btn-box > button:hover {
	background-color: #4FC3F7;
}

.move-join-btn {
    border: 1px solid #CBCACA;
    font-size: 15px;
    font-weight: bold;
    padding: 0.75em;/*글자 크기의 0.75배*/
    cursor: pointer;
    /* a 태그를 버튼으로 만들기 위해 추가 */
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}